@{
    ViewData["Title"] = "Ahorcado - Ingresar Palabra";
}
<div>
<h1>Modo 2 jugadores</h1>
<h2>Ingresa la palabra para que tu compañero juegue:</h2>
<form action='@Url.Action("IngresarPalabra")' method="get"> 
 <input type="text" name="palabraNueva" placeholder="Ingresa una palabra" required>
 <input type="Submit" value="Enviar">
</form>
</div>