@{
    ViewData["Title"] = "Ahorcado - Juego";
}
<div>
<h1>Palabra:</h1>
@{foreach (char letra in ViewBag.palabraActual){
    <h2>@letra</h2>
}}
@ViewBag.intentosRestante
<form action='@Url.Action("arriesgarLetra")' method="post"> 
 <input type="Text" name="letraNueva" placeholder="Ingresa una letra" required>
 <input type="Submit" value="Enviar">
</form>


    

<div>


