@{
    ViewData["Title"] = "Ahorcado - resultado";
}
<div>

    <h1>Juego finalizado: @ViewBag.resultadoPartida</h1>
    <h2>La palabra era: @ViewBag.palabra</h2>
    <h2>Usaste @ViewBag.intentos intentos</h2>

</div>