html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header{
padding: 0%;
margin: 0%;
}
header img{
  width: 10%;
  height: auto;
  padding: 0.5%;
margin: 0%;
margin-left: 1%;
}
footer h3{
  color: rgb(43, 43, 43);
  margin-left: 2%;
  font-weight: normal;
}
footer {
  padding: 1.5%;
  padding-top: 3%;
  background-color: #90a19a;
}